* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  background-image: url('./images/1..jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: 0.4 ease;
}

.app.warm {
  background-image: url('./images/2.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #0c0c0c;
  font-size: 20px;

  transition: 0.4s ease-in;
}

.search-box .search-bar:focus {
  background-color: rgba(176, 224, 230, 0.603);
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
.circle-img {
  border-radius: 50%;
  border: 7px solid rgba(50, 50, 70, 0.4);
  width: 120px;
  height: 120px;
  background-image: url('./images/img_avatar.png');
  background-size: cover;
  position: relative;
  margin-left: 46%;
  margin-top: 10px;
}
.developer-button{
  border: 1px solid rgb(71, 38, 38);
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.268);
  width: 120px;
  font-size: large;
  font-family: cursive;
  margin-bottom: 10px;
  position: relative;
  margin-left: 46%;
  margin-top: 30px;
  cursor: pointer;
  overflow: hidden;

}
.developer-button:hover{
  border: 3px solid rgb(71, 38, 38);
}

.developer_name{
  color: rgba(255, 255, 255, 0.775);
  position: relative;
  margin-left: 46%;
  margin-top: 15px;
}
.wrong_city{
  color: rgba(255, 255, 255, 0.733);
  font-size: 40px;
  margin-left: 40%;
}